html
  head
    link(href="../static/style/rules.css",type="text/css", rel="stylesheet")

  body.rules
    section.title
      h1.first-line 内心宁静时，内在的能力随之而来
      h1.second-line Achieving inner peace is also achieving inner strength
      h1.author —功夫熊猫

    section.content
      h1 奖励机制 
      .detail-content.first 每当你的准确率在70%～100%，将会获得奖励加成直到100%
      .detail-content 70%～80%：在原有奖励基础上，加成5%
      .detail-content 80%～90%：在原有奖励基础上，每日加成7%
      .detail-content 90%～100%：在原有奖励基础上，每日加成20%
      .detail-content.second 若低于70%，则归为0处理。比如：
      .detail-content 第1天准确率为75%，则第1天的奖励加成为5%；若第2天准确率为85%，那么第2天的奖励加成为5%+7%=12%；若第2天准确率低于70%，则第2天奖励加成为0%
      h1 抽查机制
      .detail-content 系统会随机抽取你所做的片段发送给另一个准确率更高的用户，并通过机器来判断你们的差异，系统会默认后者为正确的，所以如果你觉得为系统误判，请联系小助手，进行申诉。
      .detail-content [微信号：palmdrivefufu]