body {
  margin: 0px;
  font-family: PingFangSC;
}

.detailTask {
  padding-bottom: 10rem;
}

.title {
  background-image: url('../home.jpeg');
  background-position: center;
  height: 450px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.title1 {
  text-align: center;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 15px #fff solid;
  -webkit-border-radius: 150px;
  transform: translateX(-50%) translateY(10px);
  margin-left: 50%;
}

.arrowLeft {
  display: inline-block;
  transform: rotate(-90deg) scaleX(1.5) translateX(20%);
  font-size: 50px;
}

.rewardRate {
  display: inline-block;
  font-size: 70px;
  padding-top: 70px;
}

.content {
  padding-right: 3rem;
  padding-left: 2.5rem;
  font-size: 1.5625rem;
}

.bottom {
  float: right;
  padding-right: 3rem;
  padding-left: 2.5rem;
  margin-top: 50px;
}

.rule {
  padding-top: 10px;
  padding-bottom: 10px;
}

audio {
  width: 70%;
  height: 5rem;
  display: inline-block;
}