.detailTask {
  border: solid 5px #000;
  padding-right: 3rem;
  padding-left: 2.5rem;
}

.title1 img {
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  width: 9.375rem;
  height: 9.375rem;
}

.title1 span {
  font-size: 2.2rem;
  position: absolute;
  margin-top: 5rem;
  margin-left: 1.875rem;
}

.title3 {
  font-size: 1.875rem;
  text-align: center;
}

.title4 {
  text-align: center;
  transform: scale(0.95);
}

.title32 {
  font-size: 1.5rem;
}

.title2,
.title4 {
  text-align: center;
  font-size: 0.9375rem;
}

.content {
  font-size: 1.5625rem;
  /*margin-left: 6.25rem;*/
}

audio {
  width: 70%;
  height: 5rem;
  display: inline-block;
}